@import '@fontsource/staatliches';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 12px;
}
body {
  background-color: #f9fafb;
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
}
.hero-bg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;

  opacity: 0;
  transform: scale(1);
  z-index: -1;
  transition: opacity 2s ease-in-out, transform 20s linear;
}
.hero-bg.active {
  opacity: 1;
  transform: scale(1.5);
}
